[user]
  name  = Noel Espino
  email = eespino@webdoxclm.com
  signingkey = 126E17C7280F0747

[core]
  editor = nvim

[init]
  defaultBranch = main

[pull]
  ff = true
  rebase = true

[fetch]
  prune = true

[log]
  abbrevCommit = true
